.flag {
	border: 1px solid gray;
	padding: 5px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.flag:hover .flag-detail {
	top: 25%;
}

.flag-detail {
	background-color: rgba(0, 0, 0, 0.623);
	position: absolute;
	width: 100%;
	height: 75%;
	top: 100%;
	left: 0;
	transition: all 0.3s;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
}
